  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="status ? 'hide' : 'show'">
        <!-- <div id="dismiss" (click)="clickEvent()">
            <i class="fas fa-arrow-left"></i>
        </div> -->
  
        <div class="sidebar-header">
            <h3>Angular Training</h3>
        </div>
  
        <ul class="list-unstyled components">
            <p>{{routeName}}</p>
        <ng-container ngIf*="signInFlag">
            <li class="">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">{{hook1}}</a>
            </li>
        </ng-container>
            <!-- <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li> -->
            <!-- <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> -->
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <div id ="main2">
                <header id="header-bar">
                    <span class="header-center header-footer-link" routerLink="/Dashboard">Dashboard&nbsp;&nbsp;</span>
                    <span class="header-center header-footer-link" routerLink="/">Home</span>
                    <span class="header-right">{{datetimelocale}}</span><br>
                    <ng-container ngIf*="loginButtonFlag"> <span class="header-right sign-in-button" routerLink="/SignIn" 
                        >Login</span></ng-container>
                  </header>
                
                <router-outlet></router-outlet></div>
                <ng-container *ngIf="mainFlag">

                <div id="main">
                    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google logo">
                     
                    <br>
                     
                    <form action="">
                      <div id="search-box-outer">
                        <input id="searchme" class="search-box-inner">
                        <span><img class="mic" src="https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png" alt="voice command button"></span>
                      </div>
                       
                      <br>
                       
                      <div id="main-buttons-div">
                        <input type="submit" class="search-button left" value="Google Search">
                        <input type="submit" class="search-button right" value="I'm Feeling Lucky">
                      </div>
                    </form>
                   </div>
                   <footer id="footer-bar">
                    <span class="footer-left header-footer-link">Advertising</span>
                    <span class="footer-left header-footer-link">Business</span>
                    <span class="footer-right header-footer-link">Settings</span> 
                    <span class="footer-right header-footer-link">Terms</span>
                    <span class="footer-right header-footer-link">Privacy</span>
                   </footer>
                   </ng-container>
            </div>
        </nav>
  </div>
  
  <div class="overlay"  [ngClass]="status ? 'active' : ''"></div>
