<head>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" ></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	  <!-- bootstrap css -->
	 <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
	  
	  <style>
		  a { cursor: pointer; }
	  </style>
  </head>
<div class="global-container">
	<!-- 1. Login form-->
				<div class="col-md-12 col-md-offset-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="card-title text-center">Products</h3>
							<div class="product-table col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col md-3">ID</th>
                      <th scope="col md-3">Name</th>
                      <th scope="col md-3">Description</th>
                      <th scope="col md-3">Image</th>
                      <th scope="col md-3">Price Range</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a (click)="goProductDetail($event)">1</a></td>
                      <td>Myvi</td>
                      <td>Otto</td>
                      <td><img height = 250 width = 250 src ="https://img.icarcdn.com/autospinn-my/body/000000000092_015ecdac_909a_462f_92a6_d5ee054197ed.jpg"></td>
                      <td>RM</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>X50</td>
                      <td>Thornton</td>
                      <td><img height = 250 width = 250 src ="https://images.wapcar.my/file1/448d0090835c4ee6ab2fad5cb6ac27da_1072x604.jpg"></td>
                      <td>RM</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Honda HRV</td>
                      <td>the Bird</td>
                      <td><img height = 250 width = 250 src ="https://evault.honda.com.my/pixelvault/2022-07/1ef0ad7ef7d11c88532905eab1fa1371d4ffe42666172.png"></td>
                      <td>RM</td>
                    </tr>
                  </tbody>
                </table>
                    
                    </div>

							</div></div></div></div>