<head>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" ></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	  <!-- bootstrap css -->
	 <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
	  
	  <style>
		  a { cursor: pointer; }
	  </style>
  </head>
<div class="global-container">
	<!-- 1. Login form-->
				<div class="col-md-12 col-md-offset-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="card-title text-center">Products</h3>
							<div class="product-table col-md-12">
                <table  id="products" class="table">
                  <thead>
                    <tr >
                      <th scope="col md-3">ID</th>
                      <th scope="col md-3">Name</th>
                      <th scope="col md-3">Description</th>
                      <th scope="col md-3">Image</th>
                      <th scope="col md-3">Price Range</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td><a [routerLink]="['/Product', product.id]">{{ product.id }}</a></td>
                      <td>{{ product.name}}</td>
                      <td>{{ product.description }}</td>
                      <td><img height = 250 width = 350 src ="{{ product.image }}"></td>
                      <td>{{ product.pricerange }}</td>
                    </tr>
                  </tbody>
                </table>
                    
                    </div>

							</div></div></div></div>