<head>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" ></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	  <!-- bootstrap css -->
	 <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
	  
	  <style>
		  a { cursor: pointer; }
	  </style>
  </head>
  <div class="global-container">
	<!-- 1. Login form-->
	<div class="container"  >
		<div class="row">
			<div class="row">
				<div class="col-md-12 col-md-offset-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="card-title text-center">My Profile</h3>
                            <form>
                                <div class="form-group row">
                                    <label for="inputUsername" class="col-sm-5 col-form-label">Username</label>
                                    <div class="col-sm-7">
                                      <input type="text" readonly class="form-control-plaintext" id="inputUsername" value="{{mockProfile.username}}">
                                    </div>
                                  </div>
                                <div class="form-group row">
                                  <label for="staticEmail" class="col-sm-5 col-form-label">Email</label>
                                  <div class="col-sm-7">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{mockProfile.email}}">
                                  </div>
                                </div>
                              </form>

							</div></div></div></div></div></div>

</div>
