@import "~bootstrap/dist/css/bootstrap.css";

.global-container{
	height:100%;
	display: d-flex ; 
	align-items: center;
	justify-content: justify-content-center;
	background-color: #f5f5f5;
    padding-left: 250px;
	padding-top: 100px;
	float: center;

}    

form {
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
    text-align: center;
	width:100%;
}