<head>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" ></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
  
	  <meta name="viewport" content="width=device-width, initial-scale=1">
  
	  <!-- bootstrap css -->
	 <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
	  
	  <style>
		  a { cursor: pointer; }
	  </style>
  </head>
<div class="global-container">
	<!-- 1. Login form-->
	<div class="container"  >
		<div class="row">
			<div class="row">
				<div class="col-md-12 col-md-offset-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="card-title text-center">LOGOUT success</h3>
							<br><br>
							</div>

							</div></div></div></div></div></div>
