#main{
    text-align: center;
    padding-top: 90px;
    font-family: arial, sans-serif;
  }

#main2 {
    text-align: center;
    font-family: arial, sans-serif;
    flex:auto;
  }
#header-bar {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    line-height: 30px;
    margin-top: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #222;
    text-align: center;
  } 
  
  .header-left {
    padding-left: 15px;
    float: left;
  }
  
  .header-center {
      float: center;
    }
  
  .header-right {
    padding-right: 15px;
    float: right;
  }
  
  .sign-in-button {
    font-weight: bold;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background-color: #4683ea;
    color: white;
    padding: 0 12px;
    line-height: 28px;
    margin-right: 15px;
    cursor: pointer;
  }